<!doctype html>
<html ng-app="datawalks">
<head>
        <title>Data Walks</title>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
   		<meta charset="utf-8">
   		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
  		<script text = "text/javascript"> 
  			google.load("visualization", "1", {packages:["corechart"]});
  		</script>
  		<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=visualization"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
       	<script src="js/app.js"></script>
       	<script src="js/services/calories.js"></script>
       	<script src="js/controllers/calDisplay.js"></script>
       	<link rel="stylesheet" href="css/main.css">      
</head>
<body>
	<ng-include src="'include.htm'"></ng-include>
	<div class="contain">
		<div ng-controller="CalDisplay">
			Select the Watch ID's to view: </br> <label ng-repeat="index in deviceIds">{{index.index}}
				<input type="radio" name="index" ng-model="index.value"
				ng-click="drawBarChart(index.index)" ng-value="{{index.value}}">
			</label><br />
			<div id="calTime"></div>
		</div>
	</div>
</body>
</html>