<!DOCTYPE HTML>
<html ng-app="datawalks">
<head>
	<title>Data Walks - Charts</title>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=yes">
    <meta charset="utf-8">
	<link rel="stylesheet" type=text/css href="/css/plain.css">
	<link rel="stylesheet" href="bower_components/jqwidgets/styles/jqx.base.css"
	type="text/css" />
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=visualization"></script>
       <script src="bower_components/angular/angular.js"></script>
       <script src="bower_components/angular-resource/angular-resource.js"></script>
       <script src="bower_components/momentjs/moment.js"></script>
       <script src="bower_components/jquery/dist/jquery.min.js"></script>
       <script src="bower_components/jquery/dist/jquery.js"></script>
       <script src="bower_components/jqwidgets/jqxcore.js"></script>
       <script src="bower_components/jqwidgets/jqxdatetimeinput.js"></script>
       <script src="bower_components/jqwidgets/jqxcalendar.js"></script>
	   <script src="bower_components/jqwidgets/jqxtooltip.js"></script>
	   <script src="bower_components/jqwidgets/globalization/globalize.js"></script>
       <script src="js/app.js"></script>
       <script src="js/services/watch.js"></script>
       <script src="js/services/watchIds.js"></script>
       <script src="js/controllers/heatMap.js"></script>
       <script src="js/services/twitter.js"></script>
       <script src="js/controllers/twitterFeed.js"></script>
       <script type="text/javascript" src="https://www.google.com/jsapi"></script> 
       <script text = "text/javascript"> 
       <!-- new -->
       
  			google.load("visualization", "1", {packages:['corechart','calendar','table']});
  		</script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/momentjs/moment.js"></script>
       	<script src="js/app.js"></script>
       	<script src="js/services/aggregate.js"></script>
       	<script src="js/services/calories.js"></script>
       	<script src="js/controllers/caloriesChart.js"></script>
       	<script src="js/controllers/calendarChart.js"></script>
</head>
<body>
	<header>
		<a href="http://www.dataworks-inc.com">
			<img src="logo.jpg" style="float: left; width: 750px; height: 200px;">
		</a>
		<div class="nav">
	      <ul id="myMenu">
	        <li class="home"><a href="index.html">Heat Map</a>
	          <ul>
	            <li><a href="#" data-id="twitter">Twitter</a></li>
    			<li><a href="#" data-id="yelp">Yelp</a></li>
	          </ul>
	        </li>
	        <li class="chart"><a class="active" href="chart.html">Distance / Calories</a></li>
	        <li class="about"><a href="about.html">About Data Walks</a></li>
	      </ul>
    	</div>
	</header>
	<div class="dw-tabs">
		<ul class="dw-tabs-content">
			<div class="banner">
				<!-- put options here -->
			</div>
				<div ng-controller="ChartDisplay">
					Select the Watch ID's to view:</br> <label ng-repeat="index in deviceIds">{{index.name}}
						<input type="radio" name="index" ng-model="index.value"
						ng-click="showIds(index.index)" ng-value="{{index.value}}">
					</label><br />
					
					<div id="calendar_basic"></div>
				</div>
				</br>
				<div id="table_div"></div>
				</br> Calories:
				<div ng-controller="CalDisplay" id="calTime"></div>
		</ul>
	</div>
</body>
</html>