/bin/
/build/
.cache
.cache-main
.gradle
.classpath
.settings/org.eclipse.jdt.core.prefs
naughty.txt
test.txt
naughty.csv
naughtyEx.csv
naughty2.csv
naughtyCMU.csv
naughtyBkp.csv
out.txt
run.properties
